<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Productos</h1>
            <table border="2px">
                <thead>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>precio</th>
                </thead>
                <tbody>
                    <% productos.forEach(function(producto) { %>
                        <tr>
                            <td>
                                <%=producto.title%>
                            </td>
                            <td>
                                <%=producto.description%>
                            </td>
                            <td>
                                <%=producto.price%>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>


            </table>

            <ul>

            </ul>



        </div>
    </main>


    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>